@font-face{
    font-family:"Existence-Light";
    src:url("fonts/Existence-Light.ttf");
}

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
}

h1
{
	font-family: "Brotherina";
	font-size: 6em;
}

h2,h3
{
	font-family: "Shaky Hand Some Comic";
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}
	
.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}
	
.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

.lbox1
{

}

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

li.first
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0;
}

.lbox2 
{

}

ul.style2
{
	border-top: 0;
	padding-top: 0;
}

.title
{
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2
{
	letter-spacing: 0.20em;
	font-weight: 700;
	font-size: 3em;
	color: #171717;
}

#header-wrapper
{
	padding-bottom: 3em;
	background: #E8E8E8 url(../images/cover.jpg) no-repeat center;
	height: 500px;
}

#header 
{
	position: relative;
	overflow: hidden;
	text-align: center;
}

#menu {
	overflow: hidden;
	margin-bottom: 2em;
	background: #000080;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 2px;
	line-height: 100px;
	padding: 0 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
    font-family:"Existence-Light";
	font-size: 1.1em;
	font-weight: 600;
	border: none;
	color: #FFF;
    
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
    text-shadow: 0px 0px 10px yellow,
                 0px 0px 20px yellow,   
                 0px 0px 30px yellow,
                 0px 0px 40px yellow,
                 0px 0px 50px yellow;
                
}

#content
{
	float: right;
	width: 790px;
}

#sidebar
{
	float: left;
	width: 345px;
}
	
#sidebar .title h2
{
	font-size: 1.6em;
}

#sidebar .box1
{
	margin-bottom: 3em;
}

#copyright
{
	overflow: hidden;
	padding: 5em 0em;
	text-align: center;
}
	
#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #6F6F6F;
}