	@font-face{
		font-family: "Shaky Hand Some Comic";
		src:url("font/Shaky Hand Some Comic.otf");
	}
	
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

    p.justify{
        text-align: justify;
    }

     p.center{
        text-align: center;
    }
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}

	a
	{
		color: #00ffbf;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		margin: 0px auto;
		width: 1000px;
	}

    #Gallery{
        background: url("../images/amazon.jpeg");
        align-self: center;
        opacity: 0.8;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        padding-bottom: 10px;
        border: 1px groove black;
    }

    #Gallery > h2{
        text-align: center;
        color:white;
    }

    .gallery_pic{
        width:50%;
        height:20%;
        padding:2%;
        margin-left: 18%;
        margin-right: 10%;
    }

    .gallery_pic img{
        height:200px;
        width: 300px;
        border-top:5px solid white;
        border-right:5px solid white;
        border-left: 5px solid white;
        border-bottom: 20px solid white;
        
    }

    .reference {
        color: rgb(65,105,225);
        font-size: 1em;
    }
    
    figure {
        margin: 0;
        overflow: hidden;
    }   

    figcaption {
        margin-top: 15px;
    }

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

	ul.style1
	{
		margin: 0;
		overflow: hidden;
		list-style: none;
		color: #6c6c6c;
        padding: 2em 2em;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 8px;
	}
	
	ul.style1 li
	{
		overflow: hidden;
		display: block;
		
		border-bottom: 1px solid;
		border-color:  rgba(0,0,0,.1);
		padding: 2em 2em;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 8px;
	}
	
	ul.style1 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style1 .image-left
	{
		margin-bottom: 0;
	}
	
	ul.style1 h3
	{
		padding: 1.2em 0em 1em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 100;
		color: #454445;
	}
	
	ul.style1 a
	{
		text-decoration: none;
		color: #525252;
	}

	ul.style1 a:hover
	{
		text-decoration: underline;
		color: #525252;
	}

	ul.style2
	{
		margin: 0;
		padding-top: 1em;
		list-style: none;
		padding: 2em 2em;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 8px;
	}
	
	ul.style2 li
	{
		border-bottom: 1px solid;
		border-color:  rgba(0,0,0,.1);
		padding: 0.80em 0;

	}
	
	ul.style2 li:first-child
	{
		border-top: none;
		padding-top: 0;
	}

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.5em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #333333;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 40px;
		text-align: center;
		color: #FFFFFF;
	}

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #8DCB89;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
		padding: 0.9em 2em;
		background: #8DCB89;
		line-height: 1.8em;
		font-size: 1em;
	}

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

	#header-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #8DCB89 url(../images/cover.jpg) no-repeat center;
		background-size: cover;
	}

	#logo
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#logo h1
	{
		display: inline-block;
		margin-bottom: 0.50em;
		padding: 0.20em 1em;
        border-radius: 25px;
		background: #000;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #fff;
        font-family:"Existence-Light";
        text-shadow:0px 0px 10px red,
                    0px 0px 20px red,   
                    0px 0px 30px red,
                    0px 0px 40px red;
                    
	}
	
	#logo span
	{
		display: block;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,0.5);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}

	#menu
	{
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
        font-family:"Existence-Light";
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
        border-radius: 50%;
		background: #000;
		color: #FFF;
        text-shadow: 0px 0px 10px blue,
                    0px 0px 20px blue,   
                    0px 0px 30px blue;
	}

	#wrapper1
	{
		background: black;
	}

	#wrapper2
	{
		background: #EDEDED;
	}

	#wrapper3
	{
		overflow: hidden;
		background: #FFF;
	}
	
	#wrapper4
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #E74E59;
	}

	#welcome
	{
		overflow: hidden;
		padding: 4em 0em;
		text-align: center;
		color: rgba(255,255,255,0.3);
	}
	
	#welcome .content
	{
		padding: 0em 0em;
	}
	
	#welcome a,
	#welcome strong
	{
		color: rgba(255,255,255,0.6);
	}

	#footer
	{
		text-align: center;
	}

	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
	#portfolio
	{
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}
	
	#wrapper-blog
	{
		overflow: hidden;
		padding: 6em 0em;
	}
	
	#post
	{
		float: left;
		width: 650px;
	}
	
	.post
	{
		margin-bottom: 3em;
		padding-bottom: 4em;
		border-bottom: 1px solid;
		border-color:  rgba(0,0,0,.1);
		padding: 2em 2em;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 8px;

	}
	
	.no-border
	{
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		border: none;
		padding: 2em 2em;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 8px;
	}
	
	.post h2
	{
		padding-bottom: 1em;
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.5em;
	}
	
	.post .date
	{
		display: block;
		padding-bottom: 2em;
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-weight: 300;
	}
	
	#list
	{
		float: right;
		width: 300px;
	}
	
	.lbox1, 
	.lbox2,
	.lbox3 
	{
		width: 320px;
	}

	.lbox1,
	.lbox2
	{
		float: left;
		margin-right: 20px;
	}

	.lbox3
	{
		float: right;
	}
	
	#list h2
	{
		padding-bottom: 1em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.5em;
	}

	#list h3
	{
		padding-bottom: 1em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.5em;
	}